.App {

  

 height: auto;
}

.list_block {
  width: 153px;

  background-color: rgb(175, 199, 199);
  
}

.btn_x {
background-color:transparent;
border: 0px;
margin-left: auto;



}

.item {
 
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  margin: 1px;
}


