
body {
  background-color:rgb(193, 193, 193);
  display: flex;
  justify-content: center;
}

.App {
width: 300px;
margin-top: 300px;

}

.list_block {
  
}

.btn_x {
background-color:transparent;
border: 0px;
margin-left: auto;



}

.item {
 
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 232, 232);
  height: 30px;
  margin: 1px;
  border:1px solid;
  border-radius: 5px;



}





.list {


  
}

.adding_block input {
  width:210px;
  height: 30px;
}


.adding_block button{
  height: 36px;
  width: 80px;
}


.footer {
  display: flex;
  justify-content: space-between;
  border: 1px;
  height: 30px;
  border:1px solid;
  background-color: rgb(212, 232, 232);
  margin: 1px;
  border-radius: 5px;
  
}





